/* --- 表全体 --- */
table.example {
/* width: 650px; 表の幅 */
width: 115mm; /* 表の幅 */
height: 100mm; /* 表の幅 */
/*margin-bottom: 30px; /* 表の下マージン */
border: 1pt #c0c0c0 solid; /* 大枠の境界線 */
border-collapse: collapse;
/* font-size: 80%; */
font-size: 7pt;
}

/* --- 表タイトル --- */
table.example caption {
font-size: 10pt;
/*padding-bottom: 5px; /* 表タイトルの下パディング */
}

/* --- セル --- */
table.example th,
table.example td {
/* width: 20%; セルの幅（セルの幅を均等にする場合） */
/*padding: 2px 2px; セルのパディング（上下、左右） */
border: 1pt #c0c0c0 solid; /* セルの境界線 */
vertical-align: top
}

/* --- 見出しセル --- */
table.example thead th {
background-color: #E6E6E6; /* 見出しセルの背景色 */
text-align: center;
}

/* --- フッタセル --- */
table.example tfoot td {
background-color: #f5f5f5; /* フッタセルの背景色 */
}

/* --- データセル --- */
table.example tbody td {
/*background-color: #ffffff; データセルの背景色 */
/*height: 110/nmm;*/
}

tr:nth-child(2n+1) {
background: #FAFAFA;
}

td:nth-child(2){
/*width: 10cm;*/
text-align: center;
}

td:nth-child(3){
/*width: 40%;*/	
}

td:nth-child(6){
/*width: 30%;*/
}
td:nth-child(7){
/*width: 20%;*/
}